<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title>Draw GeoJSON points</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.css' rel='stylesheet' />
    <script src='coordinates.js'></script>
    <script src='output.js'></script>
    <style>
        body { margin:0; padding:0; }
        #map { position:absolute; top:0; bottom:0; width:100%; }
    </style>
    <!-- <link rel="stylesheet" href="app.css"> -->
    
</head>
<body>
        <h1>Visualisation page!</h1>

<div id='map'></div>
<script>
    var counter = 0;
    var featureList = new Array()
    for (counter=0; counter<coordinates.length;counter++){
        console.log(coordinates[counter])
        var data = {
                        "type": "Feature",
                        "geometry": {
                            "type": "Point",
                            "coordinates": coordinates[counter]
                        },
                        "properties": {
                            "title": orgNames[counter],
                            "icon": "monument"
                        }
                    }
        featureList.push(data)
    }
    console.log(featureList)
    
    
    
    
    mapboxgl.accessToken = 'pk.eyJ1IjoiYXJzaGl0aGEiLCJhIjoiY2plbWRwdWZmNGt2bzJxcWUyeXdmNnYwMSJ9.aGIeGyHfOn1XYsx0tFy_Ig';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/light-v9',
        center: [-96, 37.8],
        zoom: 3
    });
    
    map.on('load', function () {
    
        map.addLayer({
            "id": "points",
            "type": "symbol",
            "source": {
                "type": "geojson",
                "data": {
                    "type": "FeatureCollection",
                    "features": featureList
                }
            },
            "layout": {
                "icon-image": "{icon}-15",
                "text-field": "{title}",
                "text-font": ["Open Sans Semibold", "Arial Unicode MS Bold"],
                "text-offset": [0, 0.6],
                "text-anchor": "top"
            }
        });
    });
    </script>

</body>
</html>





